/.vs/
/packages/
/.vscode/
.DS_Store
*.dSYM
/*.vcxproj.user
*.aps
/obj/
/bin/

# Copyrighted / ROM-derived. Never commit. Patterns without a leading
# slash match in any directory (Linux gitignore is case-sensitive).
*.[sS][fF][cC]
*.[sS][mM][cC]
*.[iI][pP][sS]
*.[bB][pP][sS]
*.[pP][cC][mM]
*.[bB][rR][rR]
*.[sS][pP][cC]
zelda3_assets.dat
/tables/
/msu/
/sprites-gfx
/assets/overworld/
/assets/dungeon/
/assets/img/
/assets/old/
/assets/sound/
/assets/sprites/**/*.png
/assets/sprites/*.png
/assets/dialogue*.txt
/assets/map32_to_map16.txt
/assets/music_info.yaml
/assets/music_info.yml
/assets/sfx.txt
/assets/sound_*.txt
/assets/font*.png
/assets/linksprite.png
/assets/hud_icons.png
/assets/generated_*.h

/saves/*.sav
/saves/sram.dat
/saves/sram.bak
/zelda3
__pycache__
*.o
/src/*.o
/*.exe
/*.out
/snes/*.o
/tmp/
/SDL2.dll
/zelda3.*.ini
/zelda3.wiki
/glsl-shaders
/token.txt
